@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell {
    @apply border-spacing-x-7  px-4;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}
